<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="c/main.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<h1>Sudoku Solver</h1>
<div>A coding exercise in AngularJS</div>
<div data-ng-app="solverApp" data-ng-controller="mainController">
  <table>
  <tr data-ng-repeat="x in gridValues">
    <td data-ng-repeat="y in x track by $index">
      <div data-ng-bind="y" ng-click="y = y + 1"></div>
    </td>
  </tr>
</table>
</div>
<script src="solverApp.js"></script>
<script src="mainController.js"></script>
</body>
</html>
